{% load socialaccount %}
{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Registro usuario</title> 
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" >
	<link rel="stylesheet" href="{% static 'css/estilos.css' %}">
	

</head>  
<body style="background: url('{% static '/img/loginImagen.jpeg' %}');">
 <form class="formulario" method="POST" action="/signup/">
    {% csrf_token %}
    <h1>Registrate</h1>
     <div class="contenedor">
     
         <div class="input-contenedor">
            <i class="fas fa-user icon"></i>
            <input type="text" id="id_username" name="username" placeholder="Nombre de usuario">
         </div>

         

         <div class="input-contenedor">
            <i class="fas fa-user icon"></i>
            <input type="email" id="id_email" name="email" placeholder="Correo Electronico">
         </div>
         
         <div class="input-contenedor">
            <i class="fas fa-key icon"></i>
            <input type="password" id="id_password1" name="password1" placeholder="Contraseña">
         </div>

         <div class="input-contenedor">
            <i class="fas fa-key icon"></i>
            <input type="password" id="id_password2" name="password2" placeholder="Confirmar contraseña">
         </div>


         <input type="submit" value="Registrate" class="button">
         <p>Al registrarte, aceptas nuestras Condiciones de uso y Política de privacidad.</p>
         <p>¿Ya tienes una cuenta?<a class="link" href="loginvista.html">Iniciar Sesion</a></p>
     </div>
    </form>
</body>
</html>