<head>
    <style>
        form{
            margin-top: 200px;
            padding: 40px;
            width: fit-content;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"0>
    {% load socialaccount %}
</head>
<div class="row form">
    <div class="col-sm-4"></div>
    <div class="col-sm4">
        
        <form class="form card box container" action="{% url 'addInDiscussion' %}" method="POST">

            <h3>Participando como:</h3>
            {% if user.is_authenticated %}
                <p>{{ user.username }}</p>
                <a href="{% url 'logout' %}">Sing out</a>
            {% else %}
                <p>Anónimo</p>
            {% endif %}
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" class="btn btn-success" value="submit">
        </form>
    </div>
    
    
</div>
