<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthy Peru - Foro</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital@1&display=swap" rel="stylesheet">

    <!--

Template 2098 Health

http://www.tooplate.com/view/2098-health

-->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="Tooplate">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" href="css/animate.css">
<link rel="stylesheet" href="css/owl.carousel.css">
<link rel="stylesheet" href="css/owl.theme.default.min.css">

<!-- MAIN CSS -->
<link rel="stylesheet" href="css/tooplate-style.css">

</head>

<body>
     <!-- HEADER -->

     <!-- MENU -->
     <section class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">

             <div class="navbar-header">
                  <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                       <span class="icon icon-bar"></span>
                       <span class="icon icon-bar"></span>
                       <span class="icon icon-bar"></span>
                  </button>

                  <!-- lOGO TEXT HERE -->
                  <a href="index.html" class="navbar-brand"><i class="fa fa-h-square"></i>ealth Perú</a>
             </div>

             <!-- MENU LINKS -->
             <div class="collapse navbar-collapse">
                  <ul class="nav navbar-nav navbar-right">
                       <li><a href="index.html" class="smoothScroll">Inicio</a></li>
                       <li><a href="camas.html" class="smoothScroll">Camas UCI</a></li>
                       <li><a href="oxigeno.html" class="smoothScroll">Recarga de balones de Oxigeno</a></li>                         
                       <li><a href="detail.html" class="smoothScroll">Foro</a></li>
                       <li><a href="#contactanos" class="smoothScroll">Contactanos</a></li>
                       <li class="appointment-btn"><a href="indexout.html">Cerrar Sesion</a></li>
                  </ul>
             </div>

        </div>
   </section>

        <!--Topic Section-->
        <div class="topic-container">
            <!--Original thread-->
            <div class="head">
                <div class="authors">DA UNA MANO- FORO DE AYUDA</div>
                <div class="content">Recuerda mantener el respeto para todas las personas.</div>
            </div>
            
            <div class="body">
                <div class="authors">
                    <div class="username"><a href="">Diana Lizeth</a></div>
                    <div>Role</div>
                    <img src="https://img.europapress.es/fotoweb/fotonoticia_20200306100151_420.jpg" alt="" >
                    <div>Posts: <u>1</u></div>
                    <div>Points: <u>3</u></div>
                </div>
                <div class="content">
                    Un saludo coordial, deseando lo mejor para todas las familias en esta epoca tan dificil.
                    <br>Escribo para solicitar 5 balones de oxigeno debido a que toda mi familia se ha visto afectada por la pandemia.
                    <br><br> De poder brindarme ayuda porfavor llamar al numero 952 123 659.
                    Gracias y que Dios los bendiga.
                    <br>
                    <hr>
                    Regards username
                    <br>
                    <div class="comment">
                        <button onclick="showComment()">Comment</button>
                    </div>
                </div>
            </div>
        </div>

        <!--Comment Area-->
        <div class="comment-area hide" id="comment-area">
            <textarea name="comment" id="" placeholder="comment here ... "></textarea>
            <input type="submit" value="submit">
        </div>

        <!--Comments Section-->
        <div class="comments-container">
            <div class="body">
                <div class="authors">
                    <div class="username"><a href="">Lorenzo Pedro</a></div>
                    <div>Role</div>
                    <img src="https://www.latercera.com/resizer/7d2vNG2ckpPkztSuHKhjTLfIomM=/380x570/smart/arc-anglerfish-arc2-prod-copesa.s3.amazonaws.com/public/BQWEY4OYS5CLNNJDVZSL2XXRT4.jpg" alt="">
                    <div>Posts: <u>3</u></div>
                    <div>Points: <u>2</u></div>
                </div>
                <div class="content">
                    Un saludo. Recientemente uno de mis hermanos se enfermo pero felizmente pudo recuperarse, por ello dispongo de 2 balones de oxigeno.
                    <br>Por favor de necesitarlos contactar con el numero : 911 100 200.
                    <br><br>
                    Gracias y bendiciones para todos.
                    <br>
                    <br>
                    <div class="comment">
                        <button onclick="showReply()">Reply</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Reply Area-->
        <div class="comment-area hide" id="reply-area">
            <textarea name="reply" id="" placeholder="reply here ... "></textarea>
            <input type="submit" value="submit">
        </div>


        <!--Another Comment With replies-->
        <div class="comments-container">
            <div class="body">
                <div class="authors">
                    <div class="username"><a href="">Yaki Salas</a></div>
                    <div>Role</div>
                    <img src="https://i.pinimg.com/originals/18/23/6c/18236c122583aa65cece65c1f9107449.jpg" alt="">
                    <div>Posts: <u>1</u></div>
                    <div>Points: <u>1</u></div>
                </div>
                <div class="content">
                    Un saludo para todos.
                    <br>Con motivo de brindar ayuda en estos tiempos tan dificiles, mi familia compro 5 balones de oxigeno que seran donados.
                    <br><br>Para mayor informacion escribirme o llamar al numero : 957 147 258
                    Bendiciones para todos. 
                    <br>
                    <br>
                    <div class="comment">
                        <button onclick="showReply()">Reply</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Reply Area-->
        <div class="comment-area hide" id="reply-area">
            <textarea name="reply" id="" placeholder="reply here ... "></textarea>
            <input type="submit" value="submit">
        </div>

        

    </div>
   
    <script src="js/main.js"></script>
</body>
</html>