{% load socialaccount %}
{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

     <title>HEALTHY PERÚ</title>
<!--

Template 2098 Health

http://www.tooplate.com/view/2098-health

-->
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="Tooplate">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 

    <link rel="stylesheet" href="{% static 'css/btn-log-google.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">

     <!-- MAIN CSS -->
    <link rel="stylesheet" href="{% static 'css/tooplate-style.css' %}">


</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

     <!-- PRE LOADER -->
     <section class="preloader">
          <div class="spinner">

               <span class="spinner-rotate"></span>
               
          </div>
     </section>


     <!-- HEADER -->

     <!-- MENU -->
     <section class="navbar navbar-default navbar-static-top" role="navigation">
          <div class="container">

               <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                    </button>

                    <!-- lOGO TEXT HERE -->
                    <a href="index.html" class="navbar-brand"><i class="fa fa-h-square"></i>ealth Perú</a>
               </div>

               <!-- MENU LINKS -->
               <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                         <li><a href="#home" class="smoothScroll">Inicio</a></li>
                         <li><a href="#cama" class="smoothScroll">Camas UCI</a></li>
                         <li><a href="#oxigeno" class="smoothScroll">Recarga de balones de Oxigeno</a></li>                         
                         <li><a href="detail.html" class="smoothScroll">Foro</a></li>
                         <li><a href="#contactanos" class="smoothScroll">Contactanos</a></li>
                         {% if user.is_authenticated %}
                         <li class="appointment-btn"><a href="accounts/logout">Cerrar Sesión</a></li>
                         <li><a href="#">{{ user.first_name }}</a></li>
                         {% else %}
                         <li class="appointment-btn"><a href="/accounts/login">Ingresar</a> </li>
                         {% endif %}
                    </ul>
               </div>

          </div>
     </section>

     <!-- HOME -->
     <section id="home" class="slider" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">

                         <div class="owl-carousel owl-theme">
                              <div class="item item-first" style="background-image: url({% static 'img/slider1.jpg' %}">
                                   <div class="caption">
                                        <div class="col-md-offset-1 col-md-10">
                                             <h3>HEALTHY PERÚ</h3>
                                             <a href="#team" class="section-btn btn btn-default smoothScroll">CAMAS UCI</a>
                                        </div>
                                   </div>
                              </div>

                              <div class="item item-second" style="background-image: url({% static 'img/slider2.jpg' %}">
                                   <div class="caption">
                                        <div class="col-md-offset-1 col-md-10">
                                             <h3>HEALTHY PERÚ</h3>
                                             <a href="#about" class="section-btn btn btn-default btn-gray smoothScroll">INFORMACION</a>
                                        </div>
                                   </div>
                              </div>

                              <div class="item item-third" style="background-image: url({% static 'img/slider3.jpg' %}">
                                   <div class="caption">
                                        <div class="col-md-offset-1 col-md-10">
                                             <h3>HEALTHY PERÚ</h3>
                                             <a href="#news" class="section-btn btn btn-default btn-blue smoothScroll">RECARGA DE BALONES DE OXIGENO</a>
                                        </div>
                                   </div>
                              </div>
                         </div>

               </div>
          </div>
     </section>


     <!-- ABOUT -->
     <section id="about" style="background-image: url({% static 'img/about-bg.jpg' %}">
          <div class="container">
               <div class="row">

                    <div class="col-md-6 col-sm-6">
                         <div class="about-info">
                              <h2 class="wow fadeInUp" data-wow-delay="0.6s">Bienvenido a  <i class="fa fa-h-square"></i>EALTHY PERÚ</h2>
                              <div class="wow fadeInUp" data-wow-delay="0.8s">
                                   <p>“Toda la información que necesites sobre camas UCI, balones de oxígeno y puntos de recarga, aquí, todo el dia, todos los días en tiempo real”</p>
                                   <p></p>
                              </div>
                              <figure class="profile wow fadeInUp" data-wow-delay="1s">
                                   <img src="{% static 'img/peru.png' %}" class="img-responsive" alt="">
                                   <figcaption>
                                        <h3>La salud es lo primero</h3>
                                        <p>No bajes la guardia</p>
                                   </figcaption>
                              </figure>
                         </div>
                    </div>
                    
               </div>
          </div>
     </section>


     <!-- CAMA -->
     <section id="cama" style="padding-top= 200em;">
          <div class="container">
               <div class="row">

                    <div class="col-md-12 col-sm-12">
                         <!-- SECTION TITLE -->
                         <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
                              <h2>CAMAS UCI</h2>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <!-- NEWS THUMB -->
                         <div class="news-thumb wow fadeInUp" data-wow-delay="0.4s">
                              <a href="camas.html">
                                   <img src="{% static 'img/uci01.jpg' %}" class="img-responsive" alt="">
                              </a>
                              <div class="news-info">
                                   <h3><a href="/camas/">Consultar</a></h3>
                              </div>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <!-- NEWS THUMB -->
                         <div class="news-thumb wow fadeInUp" data-wow-delay="0.6s">
                              <a href="loginvista.html">
                                   <img src="{% static 'img/uci02.jfif' %}" class="img-responsive" alt="">
                              </a>
                              <div class="news-info">
                                   <h3><a href="detail.html">Foro</a></h3>
                              </div>
                         </div>
                    </div>

                    
               </div>
          </div>
     </section>


     <!-- oxigeno -->
     <section id="oxigeno" style="background-image: url('{% static 'img/doctor5.jpeg' %}'); padding-top: 200px">
          <div class="container">
               <div class="row">

                    <div class="col-md-12 col-sm-12">
                         <!-- SECTION TITLE -->
                         <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
                              <h2>RECARGA DE BALONES DE OXIGENO</h2>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <!-- NEWS THUMB -->
                         <div class="news-thumb wow fadeInUp" data-wow-delay="0.4s">
                              <a href="oxigeno.html">
                                   <img src="{% static 'img/oxigeno01.jpg' %}" class="img-responsive" alt="">
                              </a>
                              <div class="news-info">
                                   <h3><a href="oxigeno.html">Consultar</a></h3>
                              </div>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <!-- NEWS THUMB -->
                         <div class="news-thumb wow fadeInUp" data-wow-delay="0.6s">
                              <a href="loginvista.html">
                                   <img src="{% static 'img/oxigeno02.jpg' %}" class="img-responsive" alt="">
                              </a>
                              <div class="news-info">
                                   <h3><a href="detail.html">Foro</a></h3>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </section>

     <!-- FOOTER -->
     <section id="contactanos">
          <footer data-stellar-background-ratio="5">
               <div class="container">
                    <div class="row">
     
                         <div class="col-md-4 col-sm-4">
                              <div class="footer-thumb"> 
                                   <h4 class="wow fadeInUp" data-wow-delay="0.4s">CONTACTANOS</h4>
                                   <p>Somos una empresa dedicada al desarrollo de software ubicado en Arequipa-Perú</p>
     
                                   <div class="contact-info">
                                        <p><i class="fa fa-phone"></i> 900-000-000</p>
                                        <p><i class="fa fa-envelope-o"></i> <a href="#">healthyperu@gmail.com.pe</a></p>
                                   </div>
                              </div>
                         </div>
     
     
                         <div class="col-md-4 col-sm-4"> 
                              <div class="footer-thumb">
                                   <div class="opening-hours">
                                        <h4 class="wow fadeInUp" data-wow-delay="0.4s">HORARIOS</h4>
                                        <p>Lunes - Viernes<span>7:00 - 18:00</span></p>
                                   </div> 
     
                                   <ul class="social-icon">
                                        <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                                        <li><a href="#" class="fa fa-twitter"></a></li>
                                        <li><a href="#" class="fa fa-instagram"></a></li>
                                   </ul>
                              </div>
                         </div>
                    </div>
               </div>
          </footer>
     </section>

      <!-- SCRIPTS -->
     {% bootstrap_javascript jquery='full' %}
     <script src="{% static 'js/jquery.js' %}"></script>
     <script src="{% static 'js/jquery.sticky.js' %}"></script>
     <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
     <script src="{% static 'js/wow.min.js' %}"></script>
     <script src="{% static 'js/smoothscroll.js' %}"></script>
     <script src="{% static 'js/owl.carousel.min.js' %}"></script>
     <script src="{% static 'js/custom.js' %}"></script>

</body>
</html>